* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 145px;
    text-align: center;
    font-size: 25px;
    color: rgb(17, 2, 148);
}

h2 {
    margin-left: 450px;
    font-size: 25px;
    color: rgb(17, 2, 148);
}

.carta {
    margin-left: 450px;
    margin-right: 450px;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
}

h3 {
    margin-left: 450px;
    font-size: 25px;
    color: rgb(1, 76, 161);
}

h4 {
    margin-left: 650px;
    margin-top: 45px;
    font-size: 20px;
    color: rgb(1, 76, 161);
}

#botao {
    float: right;
    margin-top: 10px;
    margin-right: 350px;
}

a {
    text-decoration: none;
    background-color: white;
    padding: 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
}

a:hover {
    background-color: rgb(5, 205, 231);
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, Tahoma;
    background: url('PapelCarta3.jpg');
    background-size: cover;
}

p {
    padding: 5px;
    font-size: 22px;
    margin: 0px 150px;
    color: #0105fa;
}
